body.fr {
	background: #cfe9f6
}
body.fr .img_sm {
	background-image: url("small.jpg");
}
@media (min-width: 1187px) {
    body.fr {
    	background: #cfe9f6 url("main.jpg") center top no-repeat;
    }
}
@media (min-width: 768px) and (max-width: 1186px) {
    body.fr .ak-video-home.ak-no-video{
        background: #cfe9f6 url("tablet.jpg") center top no-repeat;
    }
 }